100   BITMAP    0.bmp
101   BITMAP    1.bmp
102   BITMAP    2.bmp
103   BITMAP    3.bmp
104   BITMAP    4.bmp
105   BITMAP    5.bmp
106   BITMAP    6.bmp
107   BITMAP    7.bmp
108   BITMAP    8.bmp
109   BITMAP    9.bmp
110   BITMAP    leer.bmp
